= content_for :body do
  %br
  %br
  %div.row
    %div.col-1
    %div.col-10
      %p
        Welcome to the Rails powered part of my web page!
      %p<>
        The time is #{Time.zone.now}:
        %span>
          = "123-456-7890"
        ~ ","
        %span
          = "345-453-5324"
      %p
        #{hello}
        - if true_bool
          %span #{question}
          %script(type="text/javascript")
            console.log("Hello world, the time is #{Time.zone.now}.")
      %p
        = form_for :hello, method: :post, html: {id: "none"} do |form|
          = hidden_field_tag :nothing
          %p Hello
    %div.col-1
= render "shared/header"
